@{
    Layout = null; // bunu deneyin
}

<h1>Ankara'nın Bazı İlçeleri</h1>
<ul>
    <li>Çankaya</li>
    <li>Yenimahalle</li>
    <li>Polatlı</li>
    <li>Sincan</li>
    <li>Gölbaşı</li>
    <li>Keçiören</li>
</ul>

<p>
    Şu anki saat: @DateTime.Now.ToLongTimeString()
</p>

<p>
    Ankara'daki toplam ilçe sayısı: <strong>@ViewBag.ToplamIlceAdedi</strong>
</p>
