<html lang="tr">
<head>
    <title>Anasayfa</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Anasayfaya hoşgeldiniz!</h1>
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
</body>
</html>