@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>
        @*<a href="/Ankara/GezilecekYerler">Ankara'da Gezilecek Yerler</a>*@
        <a asp-controller="Ankara" asp-action="Nufus">Ankara'nın Nüfusu</a> |
        <a asp-controller="Ankara" asp-action="Ilceler">Ankara'nın İlçeleri</a> |
        <a asp-controller="Ankara" asp-action="GezilecekYerler">Ankara'da Gezilecek Yerler</a> |
        <a asp-controller="Ankara" asp-action="GezilecekYerlerJson">Ankara'da Gezilecek Yerler (JSON)</a> |
        <a asp-controller="Ankara" asp-action="Goller">Ankara'nın Gölleri</a> |
    </p>
</div>
